*.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
tf_models/extend/train/model.ckpt-0.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
tf_models/extend/train/model.ckpt-20000.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
tf_models/imagenet-coco-xc65/x65-b2u1s2p-d48-2-3x256-sc-cr300k_init.ckpt.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
*data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
*.data-00000-of-00001* filter=lfs diff=lfs merge=lfs -text
